@model TiendaPadel.Areas.Identity.Pages.Account.RegisterModel.InputModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1><i class="bi bi-person-gear"></i> Crear Administrador</h1>
</div>


<div class="card bg-dark p-5 my-4">
    <form class="row g-3" asp-action="Create" method="post">
            <p class="text-center text-light">Crea una nueva cuenta de Administrador</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-12">
            <label asp-for="Email" class="form-label text-light"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
            <label asp-for="Password" class="form-label text-light"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                @*<label asp-for="ConfirmPassword"></label> *@
            <label class="form-label text-light"> Confirma Password </label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        <div class="row my-4 d-flex justify-content-center">
            <div class="btn-group col-4">
                <a class="btn btn-outline-primary" asp-action="Index">Volver</a>
                <button type="submit" class="btn btn-primary">Registrar Administrador</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
