@model IEnumerable<TiendaPadel.Models.ViewUsuarioConRol>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center my-3">
    <h1>Usuarios</h1>
    <a class="btn btn-outline-success my-3" asp-action="Create">Nuevo Administrador</a>
</div>


<table class="table table-striped">
    <tr class="bg-dark text-light">
        <th>
            Usuario
        </th>
        <th>
            Nombre de Usuario
        </th>
        <th>
            Rol
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelIdtem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelIdtem => item.RolDeUsuario)
            </td>
        </tr>
    }
</table>