@model TiendaPadel.Models.Cliente

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center">
    <h1><i class="bi bi-people"></i> Editar Cliente</h1>
</div>


<div class="card bg-dark p-4 my-4">
    <form class="row g-3" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-md-8">
            <label asp-for="Nombre" class="form-label text-light"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Nif" class="form-label text-light"></label>
            <input asp-for="Nif" class="form-control" />
            <span asp-validation-for="Nif" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Email" class="form-label text-light"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Telefono" class="form-label text-light"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Poblacion" class="form-label text-light"></label>
            <input asp-for="Poblacion" class="form-control" />
            <span asp-validation-for="Poblacion" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="CodigoPostal" class="form-label text-light"></label>
            <input asp-for="CodigoPostal" class="form-control" />
            <span asp-validation-for="CodigoPostal" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Direccion" class="form-label text-light"></label>
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="row my-4 d-flex justify-content-center">
            <div class="btn-group col-4">
                <a class="btn btn-outline-primary" asp-action="Index">Volver</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
