@model IEnumerable<TiendaPadel.Models.Producto>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Inicio";
}
<style>
    .container {
        margin: 0 !important; /* Elimina los márgenes */
        padding: 0 !important; /* Opcional: elimina el relleno */
        max-width: 100% !important; /* Asegúrate de que ocupe todo el ancho */
    }
</style>

<main class="py-5 h-50 custom-header">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Bienvenido a Xpadel</h1>
            @if (SignInManager.IsSignedIn(User))
            {
                <p class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</p>
            }
            <p class="lead fw-normal text-white-50 mb-0">Comienza a ver nuestros productos</p>
            <button type="button" class="btn btn-outline-light">
                <a class="text-light" asp-area="Identity" asp-page="/Account/Register">Registrate</a>
            </button>
            <button type="button" class="btn btn-outline-light">
                <a class="text-light" asp-area="Identity" asp-page="/Account/Login">Inicia Sesion</a>
            </button>

            @for(int i = 0; i < 25; i++)
            {
                <p class="lead fw-normal text-white-50 mb-0">Comienza a ver nuestros productos</p>
            }
        </div>
    </div>
</main>

<div>
   <h2>Escaparate</h2>

    @*<div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="~/imagenes/@item.Imagen" class="card-img-top" alt="Imagen de @item.Descripcion">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="card-title">@(item.Descripcion)</h5>
                                <p class="card-text">@(item.Precio)€</p>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a href="#" class="btn btn-primary">Añadir al carrito</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>*@
</div>
