@{
    ViewData["Title"] = "Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Todas nuestras politicas de privacidad.</p>

<p>
    Su privacidad y la seguridad de sus datos son importantes para nosotros. Este documento de Política de Privacidad describe los tipos de información que es o puede ser recopilada, utilizada o compartida por TEMPLATEO.COM cuando usted visita, utiliza o realiza una compra.
</p>

<p>
    Si tiene alguna pregunta adicional o necesita más información sobre nuestra Política de Privacidad o sobre cómo manejamos los datos de los usuarios y la información personal, o desea retirar su consentimiento para la continua recopilación, uso o divulgación de su Información Personal, no dude en ponerse en contacto con nosotros, para retirar su Consentimiento de Cookies, haga clic aquí.
</p>

<h2>
    Definiciones
</h2>

<p>
    TEMPLATEO.COM es operado por Templateo, San Francisco, CA 94107. (denominado «Yo», «Me», «Nuestro», «Nos» o «Nosotros»). Como cliente de este servicio usted es un «Usuario», «Visitante» o «Usted» según este acuerdo. El Sitio Web o cualquier servicio ofrecido por nosotros se denominará «Sitio Web» o «Servicio». Los servicios externos o integraciones similares se denominarán «Proveedor externo» o «Servicio externo».

</p>

<h2>
    Datos que recopilamos
</h2>

<p>
    Siguiendo los procedimientos estándar de uso de archivos de registro, estos archivos registran automáticamente las visitas cuando usted visita el Sitio Web, puede incluir información sobre su navegador web, puede registrar algunas de las cookies que están instaladas en su dispositivo, dirección IP, ISP, zona horaria y marca de tiempo, páginas de referencia/salida, número de clics.

</p>

<p>
    También podemos recopilar información personal sobre usted, como su nombre, nombre de la organización/empresa, dirección, dirección de correo electrónico u otros datos personales si nos los facilita durante el registro, la compra, al ponerse en contacto con nosotros o de otras formas. Sólo solicitamos información personal cuando realmente la necesitamos para prestarle un servicio deseado (por ejemplo, si realiza un pedido a través del sitio web). La recopilamos por medios justos y legales, con su conocimiento y consentimiento.

</p>

<h2>
    Compartir su información personal
</h2>

<p>
    No compartimos, vendemos, intercambiamos ni alquilamos ninguna información de identificación personal públicamente ni con terceros, excepto cuando nos lo exige la ley, si usted infringe nuestras Condiciones de uso o cuando nos ayuda a facilitar nuestro Servicio. Por ejemplo, el módulo de tienda en línea puede requerir servicios de terceros como PayPal u otros procesadores de pagos, también podemos utilizar servicios de estadísticas como Google Analytics, Facebook Pixel y más. Cada uno de estos servicios tiene su propia Política de Privacidad, por ejemplo:

</p>

<ul>
    <li>
        PayPal
    </li>
    <li>
        Google Analytics
    </li>
</ul>

<p>
    Con el fin de proporcionar ciertas características que pueden depender de otros servicios de terceros como el pago y proveedores de contabilidad o servicios, apoyo o proveedores de comunicación y otros servicios, nos reservamos el derecho de no realizar un seguimiento de cómo interactúa con cualquiera de los servicios prestados.
</p>

<p>
    Podemos recopilar y utilizar Información No Personal para ayudarnos a mejorar el Servicio, personalizar su experiencia y analizar el uso del Servicio. Esta Política de Privacidad no limita nuestro uso o divulgación de la Información No Personal recopilada.

</p>

<h2>
    Cookies y balizas
</h2>

<p>

    TEMPLATEO.COM utiliza «Cookies», que son pequeños archivos de datos colocados en su dispositivo sólo si la configuración de su navegador lo permite y pueden incluir información como ID único, subpáginas visitadas anteriormente en este Sitio Web y/u otra información. Tipos de Cookies que podemos utilizar: Cookies de sesión, Cookies de seguridad o Cookies de preferencias. Puede desactivar o borrar las cookies en la configuración de su navegador.

</p>

<h2>
    Reglamento General de Protección de Datos (RGPD)
</h2>

<p>
    El Reglamento General de Protección de Datos (GDPR) es un reglamento de la legislación de la UE sobre protección de datos y privacidad para todas las personas dentro de la Unión Europea y el Espacio Económico Europeo.

</p>

<p>
    Si usted es residente europeo, somos responsables del tratamiento de sus datos y tiene derecho a saber cómo se procesa su información personal, qué recopilamos sobre usted y a solicitar que estos datos se corrijan, actualicen o eliminen. Póngase en contacto con nosotros si tiene alguna pregunta sobre sus derechos en virtud del GDPR. Para más información o reclamaciones, póngase en contacto con su autoridad local de protección de datos.

</p>

<h2>

    Conservación de datos
</h2>

<p>
    Conservamos la información recopilada durante el tiempo que sea necesario para proporcionarle el servicio solicitado o a menos que y hasta que nos pida que eliminemos esta información. Protegeremos los datos que almacenemos con medios comercialmente aceptables para evitar pérdidas y robos, así como el acceso, la divulgación, la copia, el uso o la modificación no autorizados. Las contraseñas de los clientes que podamos almacenar se guardan como un hash y la contraseña original no se puede recuperar.

</p>

<h2>
    Comunicación por correo electrónico
</h2>

<p>
    Podemos comunicarnos con usted por correo electrónico o teléfono en respuesta a sus consultas o enviarle anuncios relacionados con el servicio basados en la Información Personal que nos proporcione. También podemos utilizar sus Datos Personales para enviarle actualizaciones y otras comunicaciones promocionales si hemos recibido su consentimiento. Si no desea seguir recibiendo estas actualizaciones por correo electrónico, puede darse de baja en cualquier momento siguiendo las instrucciones incluidas en cada comunicación. Normalmente se trata de un enlace para «darse de baja».
</p>

<h2>
    Enlaces a otros sitios web
</h2>

<p>
    Nuestro sitio web puede contener enlaces a sitios web o servicios de terceros no gestionados por nosotros. Si sigue un enlace a cualquiera de estos sitios web y se le redirige a un sitio web de terceros, tenga en cuenta que estos sitios web tienen sus propias políticas de privacidad y que no aceptamos ninguna responsabilidad por estas políticas o prácticas. Por favor, revise la Política de Privacidad de cada sitio web que visite antes de enviar cualquier Información Personal a cualquiera de estos sitios web.

</p>

<h2>Anuncios</h2>

<p>
    Nuestro sitio web puede mostrar anuncios enviados por nuestros socios publicitarios, que pueden tener su propia política de privacidad e instalar cookies y balizas web. Estas cookies ayudan al servidor de anuncios a reconocer su dispositivo cada vez que se le entrega un anuncio a usted o a otros usuarios de su dispositivo.
</p>

<h2>
    No rastrear
</h2>

<p>
    Este sitio web no altera sus prácticas de recopilación y uso de datos cuando su navegador envía la señal Do Not Track.
</p>

<h2>
    Transferencias comerciales
</h2>

<p>
    En el caso de que TEMPLATEO.COM, o sustancialmente todos nuestros activos, fueran adquiridos, o en el improbable caso de que Templateo saliera del negocio o entrara en quiebra, su información personal sería uno de los activos que se transfieren o adquieren por un tercero que puede seguir procesando su Información Personal. Usted reconoce y consiente que tales transferencias pueden ocurrir, y están permitidas por esta Política de Privacidad, y que cualquier adquirente de nuestros activos puede seguir utilizando su información personal como se establece en esta política.

</p>

<h2>
    Cambios

</h2>

<p>
    Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en cualquier momento sin previo aviso. Publicaremos estos cambios en esta página, por lo que le rogamos que revise este documento cada vez antes de facilitarnos cualquier información personal. Esta Política es efectiva a partir del 2022/03/19. Su uso continuado del Sitio Web después de siete (7) días de cualquier cambio o revisión de esta Política de Privacidad indicará su acuerdo con los términos de dicha Política de Privacidad revisada. Le sugerimos que compruebe periódicamente esta Política de Privacidad si le preocupa cómo se utiliza su información.

</p>

<h2>Consentimiento</h2>


<p>Al utilizar nuestro sitio web, usted da su consentimiento a nuestra Política de Privacidad y acepta sus términos.</p>