*{
    text-align: center;
}

header{
    background-color: aqua;
    padding: 2em;
    margin-bottom: 10px;
}

nav{
    background-color: rgb(198, 94, 111);
    padding: 2em;
    margin-bottom: 10px;
}

main{
    display: flex;
    margin-bottom: 10px;

    article:nth-child(1){
        width: 70%;

        section:nth-child(1){
            background-color: rgb(86, 187, 86);
            padding: 2em;
        }

        section:nth-child(2){
            background-color: rgb(179, 133, 59);
            padding: 2em;
            margin-top: 10px;
        }
    }

    article:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 30%;

        aside{
            background-color: pink;
            padding-bottom: 4em;
            width: 100%;
            margin-left: 10px;
        }
    }
    
}

footer{
    background-color: rgb(20, 35, 84);
    padding: 2em;
}

@media (max-width: 768px){
    main{
        article:nth-child(1){
            width: 100%;
        }
        article:nth-child(2){
            display: none;
        }
    }
}

@media (max-width: 500px){
    main{
        display: flex;
        flex-wrap: wrap;

        article:nth-child(2){
            display: block;
            width: 100%;
            
            aside{
                margin-left: 0;
                margin-top: 10px;
            }
        }    
    }
}