@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="justify-content-center text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Te he pillado! No tienes acceso por aqui....</p>
</header>
