@model TiendaPadel.Models.Estado

@{
    ViewData["Title"] = "Crear";
}

<div class="text-center">
    <h1><i class="bi bi-truck"></i> Crear Estados</h1>
</div>

<div class="card bg-dark p-5 my-4">
    <form class="row g-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <label asp-for="Descripcion" class="form-label text-light"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        <div class="row my-4 d-flex justify-content-center">
            <div class="btn-group col-4">
                <a class="btn btn-outline-primary" asp-action="Index">Volver</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
