@model TiendaPadel.Models.Estado

@{
    ViewData["Title"] = "Detalles";
}


<div class="text-center">
    <h1><i class="bi bi-truck"></i> Detalles del Estado</h1>
</div>

<div class="rounded-2 bg-dark p-5 my-4">
    <div class="row g-3 text-light text-center">
        <div class="col-12">
            <span class="badge rounded-pill bg-light text-dark col-1">Descripción</span>
        </div>
        <div class="col-12">
            @Html.DisplayFor(model => model.Descripcion)
        </div>
    </div>
    <div class="my-2 d-flex justify-content-center">
        <div class="btn-group col-4">
            <a class="btn btn-outline-primary" asp-action="Index">Volver</a>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        </div>
    </div>
</div>