@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Jost:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
}

.body-menu{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-top: 4px;
    margin-bottom: 0;
    
    li{
        margin-right: 15px;
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: none;
            color: black;
            background-color: rgb(56, 198, 56);
            padding: 10px;
            transition: 1s;
        }
    }
}

main{
    background-image: url("https://cdn.pixabay.com/photo/2017/10/10/21/47/laptop-2838921_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    font-family: "Raleway";
}

.nav{
    display: flex;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;

    img{
        margin: 10px;
        width: 110px;
        margin: 0;
    }

    .menu{
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        
        margin:auto;
        margin-left: 0;
        
        li{
            margin: 5px;
            a{
                text-decoration: none;
                color: white;
                padding: 10px;
            }

            a:hover{
                background-color: rgba(255, 255, 255, 0.699);
                color: black;
                transition: 1s;
            }

            img{
                width: 20px;
                height: auto;
                margin: 0;
                position: absolute;
            }
        }
    } 

    .button-start1{
        background-color: rgb(56, 198, 56);
        margin: 5px;
        margin-right: 5px;
        padding: 5px;
        color:white;
        border: none;
        width: 140px;
    }

    .button-start1:hover{
        background-color: rgba(56, 198, 56, 0.449);
        transition: 0.6s;
        cursor: pointer;
    }

    .button-login{
        margin: 5px;
        margin-right: 5px;
        background-color: transparent;
        border: 2pt solid white;
        color: white;
        width: 180px;
    }

    .button-login:hover{
        background-color: rgba(255, 255, 255, 0.325);
        transition: 1s;
        cursor: pointer;
    }
}

header{
    margin-top: 5%;

    .tit-banner{
        text-align: center;
        font-size:xxx-large;
        color: white;
    }
    
    .subtit-banner{
        margin-top: 2%;
        text-align: center;
        font-size:large;
        color: white;
    }
    
    .banner-login{
        margin-top: 6%;
        display: flex;
        justify-content: center;

        input{
            width: 300px;
            height: 40px;
            border: none;
        }

        .button-start2{
            border: none;
            background-color: rgb(56, 198, 56);
            color: white;
            width: 200px;
            align-items: flex-end;
        }

        
        .button-start2:hover{
            background-color: rgba(56, 198, 56, 0.616);
            transition: 1s;
            cursor: pointer;
        }
    }
}

button{
    font-weight: 600;
}

footer{
    display: flex;
    margin-top: 10%;
    padding-bottom: 5%;
    justify-content: center;

    p{
        font-weight: 500;
        color: white;
        width: 12%;
        margin-right: 3%;
    }

    img{
        margin: 1%;
        width: 8%;
        height: 5%;
        align-self: center;
    }
}


@media all and (max-width: 800px){

    main{
        background-position: 50%;
    }

    .nav{
        display: block;
        text-align: center;

        .menu{
            margin-top: -20px;
            margin-bottom: 5%;
            justify-content: center;
        }

        img{
            width: 30%;
        }

        
        button{
            margin-top: 10%;
            width: 150px;
            height: 50px;
        }
    }

    .banner-login{
        display: block;
        padding: 10px;

    }

    footer{
        display: block;
        width: 100%;
        text-align: center;

        p{
            width: 100%;
        }
    }
}


@media all and (max-width: 550px){

      .nav{
        display: block;
        text-align: center;

        .menu{
            display: block;
            margin-top: -20px;
            justify-content: center;

            a{
                margin: 10%;
            }
        }
    }
}