
article{
    background-color: rgba(128, 128, 128, 0.130);
    padding: 1%;
    margin: 1%
}

section{
    width: 100%;
    margin-bottom: 3%;
    display: flex;
}

button{
    font-size: medium;
    font-weight: 400;
    width: 50%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

section:nth-of-type(1) > button:nth-child(1){
    color: white;
    border: none;
    background-color: #00FFFF;
}

section:nth-of-type(1) > button:nth-child(2){
    border: 2pt solid #00FFFF;
    color: #00FFFF;
    background-color: white;
}

section:nth-of-type(1) > button:nth-child(3){
    border: none;
    color: #00FFFF;
}

/* Segunda Fila */
section:nth-of-type(2) > button:nth-child(1){
    color: white;
    border: none;
    background-color: #8cf5f3;
}

section:nth-of-type(2) > button:nth-child(2){
    border: 2pt solid #8cf5f3;
    color: #8cf5f3;
    background-color: white;
}

section:nth-of-type(2) > button:nth-child(3){
    border: none;
    color: #8cf5f3;
}

/* Tercera Fila */
section:nth-of-type(3) > button:nth-child(1){
    color: white;
    border: none;
    background-color: #b1eeec;
}

section:nth-of-type(3) > button:nth-child(2){
    border: 2pt solid #b1eeec;
    color: #b1eeec;
    background-color: white;
}

section:nth-of-type(3) > button:nth-child(3){
    border: none;
    color: #b1eeec;
}