
@{
    ViewData["Title"] = "Carrito de Compras";
}

<h2>Carrito de Compras</h2>

    <div>
        <hr />
        <h4>Tu carrito esta vacio</h4>
    </div>

<a asp-controller="Escaparate" asp-action="Index" class="btn btn-primary">Seguir Comprando</a>