
@{
    ViewData["Title"] = "Carrito de Compras";
}

<div class="cesta-vacia">

   <div class="my-5">
        <strong><p class="pb-4">Tu carrito está vacío.</p></strong>
        <p class="pb-4">Aún no tienes ningún artículo en la cesta, descubre todo lo que tenemos para ti</p>
   </div>

        <div class="back-to-shop"><a asp-controller="Escaparate" asp-action="Index" class="btn btn-primary">Descubrir</a></div>
</div>