@model IEnumerable<TiendaPadel.Models.Producto>
@{
    ViewData["Title"] = "Escaparate";
}

<h1>Escaparate</h1>

<div class="container">
   <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~imagenes/@item.Imagen" class="card-img-top" alt="Imagen de @item.Descripcion">
                    <div class="card-body">
                        <h5 class="card-title">@(item.Descripcion)</h5>
                        <p class="card-text">@(item.Precio)€</p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                    </div>
                </div>
            </div>
        }
   </div>
</div>

