@model TiendaPadel.Models.Pedido

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center">
    <h1><i class="bi bi-mailbox-flag"></i> Editar Pedido</h1>
</div>

<div class="card bg-dark p-4 my-4">
    <form class="row g-3" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-md-4">
            <label asp-for="Fecha" class="form-label text-light"></label>
            <input asp-for="Fecha" type="date" class="form-control" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Confirmado" class="form-label text-light"></label>
            <input asp-for="Confirmado" type="date" class="form-control" />
            <span asp-validation-for="Confirmado" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Preparado" class="form-label text-light"></label>
            <input asp-for="Preparado" type="date" class="form-control" />
            <span asp-validation-for="Preparado" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Enviado" class="form-label text-light"></label>
            <input asp-for="Enviado" type="date" class="form-control" />
            <span asp-validation-for="Enviado" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Cobrado" class="form-label text-light"></label>
            <input asp-for="Cobrado" type="date" class="form-control" />
            <span asp-validation-for="Cobrado" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Devuelto" class="form-label text-light"></label>
            <input asp-for="Devuelto" type="date" class="form-control" />
            <span asp-validation-for="Devuelto" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Anulado" class="form-label text-light"></label>
            <input asp-for="Anulado" type="date" class="form-control" />
            <span asp-validation-for="Anulado" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="ClienteId" class="form-label text-light"></label>
            <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            <span asp-validation-for="ClienteId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="EstadoId" class="form-label text-light"></label>
            <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
            <span asp-validation-for="EstadoId" class="text-danger"></span>
        </div>
        <div class="row my-4 d-flex justify-content-center">
            <div class="btn-group col-4">
                <a class="btn btn-outline-primary" asp-action="Index">Volver</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
