<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaPadel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TiendaPadel.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                @if (User.IsInRole("Administrador"))
                {
                    <!-- Logo a la izquierda para administradores -->
                    <a class="me-auto" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/imagenes/logolight.png" width="130px" height="50px" />
                    </a>
                }
                else
                {
                    <!-- Logo centrado para otros usuarios -->
                    <a class="navbar-brand mx-auto" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/imagenes/logolight.png" width="130px" height="50px" />
                    </a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Usuario"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-center" asp-area="" asp-controller="Escaparate" asp-action="Index">SHOP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-center" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACIDAD</a>
                                </li>
                            }
                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-center" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-center" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-center" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-center" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-center" asp-area="" asp-controller="Estados" asp-action="Index">Estados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark text-center" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-center" href="#Escaparate">SHOP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-center" href="#Escaparate">NEW</a>
                            </li>
                        }
                    </ul>
                    
                    <div class="navbar-nav ms-auto">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="d-flex flex-column min-vh-100">
        <div class="container flex-grow-1">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <div class="border-top text-center">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
                <div class="justify-content-between w-100">
                    <a href="https://x.com/?lang=es" class="me-4 text-reset">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="#Escaparate" class="me-4 text-reset">
                        <i class="bi bi-google"></i>
                    </a>
                    <a href="#Escaparate" class="me-4 text-reset">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/leo-coves-guzman-b68554281/" class="me-4 text-reset">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://github.com/LeoCoves/" class="me-4 text-reset">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <section class="">
                <div class="container text-center text-md-start mt-4">
                    <!-- Grid row -->
                    <div class="row mt-2">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-2">
                                Nombre de la compañia
                            </h6>
                            <a class="me-auto" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/imagenes/logolight.png" width="130px" height="50px" />
                            </a>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-2">
                                Productos
                            </h6>
                            <p>
                                <a href="#Escaparate" class="text-reset">Palas</a>
                            </p>
                            <p>
                                <a href="#Escaparate" class="text-reset">Accesorios</a>
                            </p>
                            <p>
                                <a href="#Escaparate" class="text-reset">Pelotas</a>
                            </p>
                            <p>
                                <a href="#Escaparate" class="text-reset">Mas</a>
                            </p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">

                            <h6 class="text-uppercase fw-bold mb-2">
                                Tecnologias
                            </h6>
                            <p>
                                <a href="https://dotnet.microsoft.com/es-es/languages/csharp" class="text-reset">C#</a>
                            </p>
                            <p>
                                <a href="https://dotnet.microsoft.com/es-es/" class="text-reset">.NET</a>
                            </p>
                            <p>
                                <a href="https://dotnet.microsoft.com/es-es/apps/aspnet/mvc" class="text-reset">MVC</a>
                            </p>
                            <p>
                                <a href="https://getbootstrap.com/" class="text-reset">Boostrap</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
                            <h6 class="text-uppercase fw-bold mb-2">Contactanos</h6>
                            <p><i class="bi bi-backpack"></i> IES Mare Nostrum, ES</p>
                            <p>
                                <i class="bi bi-envelope-at-fill"></i>
                                leocovguz@alu.edu.gva.es
                            </p>
                            <p><i class="bi bi-telephone-fill"></i> 48847487847</p>
                            <p><i class="bi bi-telephone-fill"></i> 34834758748</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
