*, body{
    margin: 0;
    padding: 0;
}

main{
    padding: 4em;

    .cuadrado{
        width: 200px;
        height: 200px;
        background-color: red;
    }

    .cuadrado:hover{
        transform: rotate(45deg);
        background-color: blue;
        transition: 2s;
    }
}