@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TiendaPadel.Models.Producto

@{
    ViewData["Title"] = "CambiarImagen";
}

<div class="text-center">
    @{
        var nombreImagen = Model.Imagen ?? "sinImagen.jpg";
    }
    <img src="~/imagenes/@nombreImagen" height="250" width="250" class="rounded shadow-sm"
         asp-append-version="true" />

    <br /><br />
    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary btn-sm rounded-2" data-bs-toggle="modal" data-bs-target="#modalCambiarImagen">
        Cambiar Imagen
    </button>
</div>

<!-- MODAL -->
<div class="modal fade" id="modalCambiarImagen" tabindex="-1" aria-labelledby="modalCambiarImagenLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCambiarImagenLabel">Actualizar Imagen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" asp-action="CambiarImagen">
                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <label class="form-label">Selecciona una nueva imagen</label>
                        <input type="file" asp-for="Imagen" class="form-control">
                    </div>

                    <div class="text-end">
                        <button type="button" class="btn btn-secondary btn-sm rounded-2" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary btn-sm rounded-2">Actualizar Imagen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
