html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100vh;
}

.container {
    margin: 0; /* Elimina los márgenes */
    padding: 2em !important; /* Opcional: elimina el relleno */
    max-width: 100% !important; /* Asegúrate de que ocupe todo el ancho */
}

body {
    background-color: rgb(250, 250, 250);
    margin-bottom: 60px;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.cesta-vacia {
    background-image: url('../imagenes/cestaVacia.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: contain; /* Ajusta la imagen para que quepa dentro */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    padding: 10em;
}

.custom-header {
    background: url('../imagenes/backgroundpadel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.custom-cardPala {
    background: url('../imagenes/categoriaPalas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardPala:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
.custom-cardPaletero {
    background: url('../imagenes/categoriasPaletero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardPaletero:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
.custom-cardAccesorio {
    background: url('../imagenes/categoriaAccesorios.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardAccesorio:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
@media (min-width: 576px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-toggler {
        position: absolute;
        right: 0;
    }
}
@media (max-width: 768px) { /* Para móviles y tablets */
    .ocultar-en-movil {
        display: none !important;
    }
}

a.btn-outline-light.text-light:hover {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}

a.btn-outline-light.text-dark:hover {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}
