html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
  margin-bottom: 60px;
  padding:0;
  margin: 0;
}
a{
    text-decoration: none;
}
.custom-header {
    background: url('../imagenes/backgroundpadel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.custom-cardPala {
    background: url('../imagenes/categoriaPalas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardPala:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
.custom-cardPaletero {
    background: url('../imagenes/categoriasPaletero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardPaletero:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
.custom-cardAccesorio {
    background: url('../imagenes/categoriaAccesorios.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardAccesorio:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
@media (min-width: 576px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-toggler {
        position: absolute;
        right: 0;
    }
}
