html {
    font-size: 14px;
    font-family: 'Roboto';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100vh;
}

.container {
    margin: 0; /* Elimina los márgenes */
    padding: 2em !important; /* Opcional: elimina el relleno */
    max-width: 100% !important; /* Asegúrate de que ocupe todo el ancho */
}

body {
    font-family: 'Roboto';
    background-color: rgb(250, 250, 250);
    margin-bottom: 60px;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.cesta-vacia {
    background-image: url('../imagenes/cestaVacia.webp'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding-bottom: 40em;
    text-align: center;
}

.custom-header {
    background: url('../imagenes/backgroundpadel.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.custom-cardPala {
    background: url('../imagenes/categoriaPalas.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardPala:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }
.custom-cardPaletero {
    background: url('../imagenes/categoriasPaletero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardPaletero:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }
.custom-cardAccesorio {
    background: url('../imagenes/categoriaAccesorios.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
    .custom-cardAccesorio:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }

.custom-cardWomen {
    background: url('../imagenes/pinktopwomen.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40em;
}

    .custom-cardWomen:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }

.custom-cardMen {
    background: url('../imagenes/polomen.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40em;
}

    .custom-cardMen:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }

.custom-cardWater {
    background: url('../imagenes/accesoriosAgua.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40em;
}

    .custom-cardWater:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }


.custom-cardShoes {
    background: url('../imagenes/palaBlanca.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30em;
}

    .custom-cardShoes:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }

.custom-cardBag {
    background: url('../imagenes/whitebag.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30em;
}

    .custom-cardBag:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }



@media (min-width: 570px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-toggler {
        position: absolute;
        right: 0;
    }
    
}
.mostrar-en-movil {
    display: none;
}

.ocultar-en-movil {
    display: block;
}

.card {
    height: 500px;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.card-body {
    height: calc(100% - 200px);
}


@media (max-width: 768px) {
    .mostrar-en-movil {
        display: block;
    }

    .ocultar-en-movil {
        display: none !important;
    }
    .card {
        height: 350px;
    }

    .card-img-top {
        max-height: 200px;
    }
}

@media (max-width: 450px) {
    .card-img-top {
        max-height: 130px !important;
    }
}



a.btn-outline-light.text-light:hover {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}

a.btn-outline-light.text-dark:hover {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}


.color-principal,
.color-principal:link,
.color-principal:visited {
    color: #34495E !important;
    text-decoration: none; /* Opcional: elimina el subrayado */
}


    .color-secundario,
    .color-secundario:link,
    .color-secundario:visited {
        color: #171F27 !important;
        text-decoration: none; /* Opcional: elimina el subrayado */
    }

.color-terciario,
.color-terciario:link,
.color-terciario:visited {
    color: #179F6F !important;
    text-decoration: none; /* Opcional: elimina el subrayado */
}

.color-amarillo,
.color-amarillo:link,
.color-amarillo:visited {
    color: #F39C12 !important;
    text-decoration: none; /* Opcional: elimina el subrayado */
}

.color-blanco,
.color-blanco:link,
.color-blanco:visited {
    color: #ECF0F1 !important;
    text-decoration: none; /* Opcional: elimina el subrayado */
}

.fuente-editorial {
    font-family: 'Playfair';
    font-weight: bold;  
}

.fuente-roboto {
    font-family: 'Roboto';
    font-weight: normal;
}

.fuente-logo {
    font-family: 'Chonburi';
}

.border-nav {
    border:1pt solid #179F6F !important;
}

.font-huge{
    font-size: 4.5em;
    font-weight: 100;
}

.btn-outline-custom {
    color: #34495E;
    border-color: #34495E;
}

    .btn-outline-custom:hover {
        background-color: #34495E;
        color: white;
    }

/*ESTO FORMA PARTE DEL HOME*/


.btn-outline-light:hover {
    color: black;
}

/* Estilo básico para los botones */
.btn-square { /* Altura fija para hacerlo cuadrado */
    border-radius: 0; 
}

    /* Hover */
    .btn-square:hover {
        background-color: rgba(255, 255, 255);
        border-color: #ffffff;
    }


